<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>PublicFilter</filter-name>
    <filter-class>jexhen.cn.edu.gdut.blog.filter.PublicFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PublicFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>jexhen.cn.edu.gdut.blog.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/supporter/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>jexhen.cn.edu.gdut.blog.filter.HomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetArticleServlet</display-name>
    <servlet-name>GetArticleServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticleServlet</servlet-name>
    <url-pattern>/getArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRecommendServlet</display-name>
    <servlet-name>GetRecommendServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetRecommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRecommendServlet</servlet-name>
    <url-pattern>/getRecommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadArticleServlet</display-name>
    <servlet-name>ReadArticleServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.ReadArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadArticleServlet</servlet-name>
    <url-pattern>/readArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetArticlesByTagNameServlet</display-name>
    <servlet-name>GetArticlesByTagNameServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetArticlesByTagNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticlesByTagNameServlet</servlet-name>
    <url-pattern>/getArticlesByTagName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetArticleToSupporter</display-name>
    <servlet-name>GetArticleToSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetArticleToSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticleToSupporter</servlet-name>
    <url-pattern>/admin/getArticleToSupporter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditArticleOfSupporter</display-name>
    <servlet-name>EditArticleOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.EditArticleOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditArticleOfSupporter</servlet-name>
    <url-pattern>/admin/editArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveArticleOfSupporter</display-name>
    <servlet-name>RemoveArticleOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.RemoveArticleOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveArticleOfSupporter</servlet-name>
    <url-pattern>/admin/removeArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewArticleOfSupporter</display-name>
    <servlet-name>NewArticleOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.NewArticleOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewArticleOfSupporter</servlet-name>
    <url-pattern>/admin/newArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticleOfSupporter</display-name>
    <servlet-name>UpdateArticleOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.UpdateArticleOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticleOfSupporter</servlet-name>
    <url-pattern>/admin/updateArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetArticleByConditionOfSupporter</display-name>
    <servlet-name>GetArticleByConditionOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetArticleByConditionOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticleByConditionOfSupporter</servlet-name>
    <url-pattern>/admin/getArticleByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewDraftOfSupporter</display-name>
    <servlet-name>NewDraftOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.NewDraftOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDraftOfSupporter</servlet-name>
    <url-pattern>/admin/newDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDraftToSupporter</display-name>
    <servlet-name>GetDraftToSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetDraftToSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDraftToSupporter</servlet-name>
    <url-pattern>/admin/getDraftToSupporter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDraftOfSupporter</display-name>
    <servlet-name>RemoveDraftOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.RemoveDraftOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDraftOfSupporter</servlet-name>
    <url-pattern>/admin/removeDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDraftByConditionOfSupporter</display-name>
    <servlet-name>GetDraftByConditionOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetDraftByConditionOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDraftByConditionOfSupporter</servlet-name>
    <url-pattern>/admin/getDraftByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDraftOfSupporter</display-name>
    <servlet-name>EditDraftOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.EditDraftOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDraftOfSupporter</servlet-name>
    <url-pattern>/admin/editDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftToPublicOfSupporter</display-name>
    <servlet-name>DraftToPublicOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.DraftToPublicOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftToPublicOfSupporter</servlet-name>
    <url-pattern>/admin/draftToPublic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDraftOfSupporter</display-name>
    <servlet-name>UpdateDraftOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.UpdateDraftOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDraftOfSupporter</servlet-name>
    <url-pattern>/admin/updateDraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileOfSupporter</display-name>
    <servlet-name>EditProfileOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.EditProfileOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileOfSupporter</servlet-name>
    <url-pattern>/admin/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileOfSupporter</display-name>
    <servlet-name>UpdateProfileOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.UpdateProfileOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileOfSupporter</servlet-name>
    <url-pattern>/admin/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCarouselImageOfSupporter</display-name>
    <servlet-name>UpdateCarouselImageOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.UpdateCarouselImageOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarouselImageOfSupporter</servlet-name>
    <url-pattern>/admin/updateCarouselImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCarouselToSupporter</display-name>
    <servlet-name>GetCarouselToSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.GetCarouselToSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarouselToSupporter</servlet-name>
    <url-pattern>/admin/getCarouselToSupporter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCarouselOfSupporter</display-name>
    <servlet-name>RemoveCarouselOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.RemoveCarouselOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCarouselOfSupporter</servlet-name>
    <url-pattern>/admin/removeCarousel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCarouselOfSupporter</display-name>
    <servlet-name>NewCarouselOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.NewCarouselOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCarouselOfSupporter</servlet-name>
    <url-pattern>/admin/newCarousel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwapCarouselOfSupporter</display-name>
    <servlet-name>SwapCarouselOfSupporter</servlet-name>
    <servlet-class>jexhen.cn.edu.gdut.blog.web.SwapCarouselOfSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwapCarouselOfSupporter</servlet-name>
    <url-pattern>/admin/swapCarousel</url-pattern>
  </servlet-mapping>
</web-app>